*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url(IMG/japan-background-digital-art.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    align-content: center;
    text-align: center;
}
.cg{
    background-color: skyblue;
    padding-left: 50px;
    border-radius: 10px;
    border: 2px solid black;
    color: rgb(254, 146, 249);
    font:bold;
    margin: auto;
    width: 200px;
}
.animeabout{
    color: aliceblue;
}
nav{
    width: auto;
    margin: 10px;
    font-weight: bolder;
    align-content: space-between;
    /* border: 1px solid black; */
    height: 50px;
    padding-top: 30px;
    text-align: center;
    /* background-color: #4de439; */
}
.nav{
    padding: 25px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 15px;
}
/* a{
    background-color:   white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none
} */
 a{
    text-decoration: none;
    /* border: 1px solid black; */
 }
main{
    /* margin: 20px; */
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: bold;
    /* -webkit-text-stroke: 1px black; */
    font-size: large;
    flex-direction: row;
    justify-content: space-between;
}
.jjk{
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    background-image: url(/IMG/picture1\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 420px;
}
.naruto{
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
    background-image: url(/IMG/picture1\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 420px;
}
.demonslayer{
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    background-image: url(/IMG/picture1\ \(3\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 420px;
}
h2,p{
    text-align: center;
}
.jjka{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.narutoa{
    background-color: green;
    color: white;
}
.demonslayera{
    background-color: blue;
    color: white;
}
/* .jjka:hover{
    background-color: white;
    color: black;
}

.demonslayera:hover{
    background-color: white;
    color: black;
}
.narutoa:hover{
    background-color: white;
    color: black;
} */
 div{
    justify-content: space-between;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .ailp{
    color: #a15b15;
}
.ailh{
    -webkit-text-stroke: 1px black;
}
.ail{
    background-image: url(/IMG/picture1\ \(4\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
    min-height: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px;
    height: 218px;
}
.ail2p{
    color: yellow;
    
}
.ail2h{
    -webkit-text-stroke: 1px black;
}
.ail2{
    background-image: url(/IMG/picture1\ \(5\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px;
    min-height: 100px 20px;
    text-align: center;
    width: fit-content;
    height: 220px;
    border-radius: 10px;
    color: red;
    margin: 5px;
    height: 220px;
}
.ail3p{
    color: white;
    
}
.ail3h{
    -webkit-text-stroke: 1px black;
}
.ail3{
    background-image: url(/IMG/picture1\ \(6\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px;
    min-height: 100px 20px;
    text-align: center;
    width: fit-content;
    height: 220px;
    border-radius: 10px;
    color: pink;
    margin: 5px;
}
.ail4{
    background-image: url(/IMG/picture1\ \(7\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 420px;
    margin: 5px;
    width: fit-content;
    min-width: 140px;
}
